# System properties for wildfly
jboss.bind.address={{ wildfly_bind_address }}
jboss.management.http.port={{ wildfly_manage_http_port }}
jboss.management.https.port={{ wildfly_manage_https_port }}
jboss.http.port={{ wildfly_http_port }}
jboss.https.port={{ wildfly_https_port }}
jboss.bind.address.management={{ wildfly_management_bind_address }}
jboss.server.temp.dir={{ wildfly_temp_dir }}
{% if wildfly_node_name %}
jboss.node.name={{ wildfly_node_name }}
{% endif %}
{% if wildfly_bind_address_unsecure %}
jboss.bind.address.unsecure={{ wildfly_bind_address_unsecure }}
{% endif %}
{% if wildfly_messaging_group_address %}
jboss.messaging.group.address={{ wildfly_messaging_group_address }}
{% endif %}
{% for key, value in (wildfly_custom_properties | default({})).items() %}
{{ key }}={{ value }}
{% endfor %}
