# System properties for wildfly
jboss.bind.address={{ wildfly_bind_address }}
jboss.bind.address.management={{ wildfly_management_bind_address }}
jboss.server.log.dir={{ wildfly_log_dir }}
jboss.server.temp.dir=/tmp/wildfly
