# System properties for wildfly
jboss.bind.address={{ wildfly_bind_address }}
jboss.bind.address.management={{ wildfly_management_bind_address }}
jboss.server.log.dir=/var/log/wildfly
jboss.server.temp.dir=/tmp/wildfly
