# General configuration for the init.d scripts,
# not necessarily for JBoss AS itself.
# default location: /etc/default/wildfly

## Location of WildFly
JBOSS_HOME="{{ wildfly_install_dir + '/wildfly' if wildfly_create_symlink else wildfly_dir }}"

## The username who should own the process.
JBOSS_USER="{{ wildfly_user }}"

## The mode WildFly should start, standalone or domain
JBOSS_MODE=standalone

## Configuration for standalone mode
JBOSS_CONFIG={{ wildfly_standalone_config_file }}

{% if wildfly_startup_wait %}
## The amount of time to wait for startup
STARTUP_WAIT={{ wildfly_startup_wait }}
{% endif %}

{% if wildfly_shutdown_wait  %}
## The amount of time to wait for shutdown
SHUTDOWN_WAIT={{ wildfly_shutdown_wait }}
{% endif %}

## Location to keep the console log
JBOSS_CONSOLE_LOG="{{ wildfly_console_log }}"

# Need to modify the init script to account for JBOSS_OPTS
# Allows us to pass system properties to WildFly
JBOSS_OPTS="-P={{ wildfly_conf_dir }}/wildfly.properties"


## Custom variables
{% for key, value in (wildfly_custom_environment | default({})).items() %}
{{ key }}={{ value }}
{% endfor %}
