[Unit]
Description=WildFly application server
After=network.target

[Service]
Type=simple
User={{ wildfly_user }}
Group={{ wildfly_group }}
EnvironmentFile={{ wildfly_conf_dir }}/wildfly.conf
ExecStart={{ wildfly_dir }}/bin/standalone.sh $JBOSS_OPTS

[Install]
WantedBy=multi-user.target
